@using Multiblog.Core.Model
@model UserView
@{
    ViewData["Title"] = Model.Title;
}

<nav class="pagination container" aria-label="Pagination">
    <h2>@Model.FirstName @Model.LastName</h2>
</nav>

